USE [master]
GO
/****** Object:  Database [LanguagesOfWorld]    Script Date: 04.04.2026 18:47:34 ******/
CREATE DATABASE [LanguagesOfWorld]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LanguagesOfWorld', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ARTEMITY\MSSQL\DATA\LanguagesOfWorld.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LanguagesOfWorld_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ARTEMITY\MSSQL\DATA\LanguagesOfWorld_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LanguagesOfWorld].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LanguagesOfWorld]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 04.04.2026 18:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryCode] [int] NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
	[Continent] [nvarchar](50) NOT NULL,
	[Capital] [nvarchar](100) NOT NULL,
	[Population] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EthnicComposition]    Script Date: 04.04.2026 18:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EthnicComposition](
	[CompositionID] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [int] NOT NULL,
	[LanguageCode] [int] NOT NULL,
	[SpeakersCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 04.04.2026 18:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageCode] [int] NOT NULL,
	[LanguageName] [nvarchar](100) NOT NULL,
	[LanguageGroup] [nvarchar](100) NOT NULL,
	[WritingSystem] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04.04.2026 18:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Countries] ([CountryCode], [CountryName], [Continent], [Capital], [Population]) VALUES (1, N'Россия', N'Евразия', N'Москва', 146)
INSERT [dbo].[Countries] ([CountryCode], [CountryName], [Continent], [Capital], [Population]) VALUES (2, N'США', N'Северная Америка', N'Вашингтон', 331)
INSERT [dbo].[Countries] ([CountryCode], [CountryName], [Continent], [Capital], [Population]) VALUES (3, N'Китай', N'Азия', N'Пекин', 1412)
GO
SET IDENTITY_INSERT [dbo].[EthnicComposition] ON 

INSERT [dbo].[EthnicComposition] ([CompositionID], [CountryCode], [LanguageCode], [SpeakersCount]) VALUES (1, 1, 1, 137000)
INSERT [dbo].[EthnicComposition] ([CompositionID], [CountryCode], [LanguageCode], [SpeakersCount]) VALUES (2, 1, 2, 7500)
INSERT [dbo].[EthnicComposition] ([CompositionID], [CountryCode], [LanguageCode], [SpeakersCount]) VALUES (3, 2, 2, 300000)
SET IDENTITY_INSERT [dbo].[EthnicComposition] OFF
GO
INSERT [dbo].[Languages] ([LanguageCode], [LanguageName], [LanguageGroup], [WritingSystem]) VALUES (1, N'Русский', N'Славянская', N'Кириллица')
INSERT [dbo].[Languages] ([LanguageCode], [LanguageName], [LanguageGroup], [WritingSystem]) VALUES (2, N'Английский', N'Германская', N'Латиница')
INSERT [dbo].[Languages] ([LanguageCode], [LanguageName], [LanguageGroup], [WritingSystem]) VALUES (3, N'Китайский', N'Сино-тибетская', N'Иероглифы')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Login], [Password], [RoleName]) VALUES (1, N'admin1', N'admin123', N'Admin')
INSERT [dbo].[Users] ([UserId], [Login], [Password], [RoleName]) VALUES (2, N'manager1', N'manager123', N'Manager')
INSERT [dbo].[Users] ([UserId], [Login], [Password], [RoleName]) VALUES (3, N'manager2', N'pass456', N'Manager')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B970AB195]    Script Date: 04.04.2026 18:47:35 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EthnicComposition]  WITH CHECK ADD  CONSTRAINT [FK_Ethnic_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Countries] ([CountryCode])
GO
ALTER TABLE [dbo].[EthnicComposition] CHECK CONSTRAINT [FK_Ethnic_Country]
GO
ALTER TABLE [dbo].[EthnicComposition]  WITH CHECK ADD  CONSTRAINT [FK_Ethnic_Language] FOREIGN KEY([LanguageCode])
REFERENCES [dbo].[Languages] ([LanguageCode])
GO
ALTER TABLE [dbo].[EthnicComposition] CHECK CONSTRAINT [FK_Ethnic_Language]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([RoleName]='Manager' OR [RoleName]='Admin'))
GO
USE [master]
GO
